#
#executed at start of the container, initial download
@reboot cd /py_cronjob/data-in && kaggle datasets download -d 'sudalairajkumar/novel-corona-virus-2019-dataset'
#
#executed at start of the container, repeated download
@hourly cd /py_cronjob/data-in && kaggle datasets download -d 'sudalairajkumar/novel-corona-virus-2019-dataset'